* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}
body {
    width: 100%;
    margin: 0 auto;
    
}

.loader {
    font-size: 30px;
    font-family: Protest Strike;
    text-align: center;
    display: block;
}

.main {
    &__container {
        max-width: 130vh;
        width: 100%;
        min-height: 90vh;
        margin: 5vh auto;
        background-color: #e6e6e6;
        border-radius: 30px;
    }
    .header {
        &__container {
            margin: 10px 30px 30px 30px;
        }
        &__search {
            padding-top: 8px;
            float: right;
            input {
                border: none;
                border-radius: 10px;
                outline: none;
                padding: 5px;
                height: 30px;
                border: 3px solid black;
                @media (max-width: 426px) {
                    height: 20px;
                    font-size: 10px;
                    width: 13vh;
                }
            }
            button {
                border: none;
                padding: 5px;
                border-radius: 10px;
                margin-left: 20px;
                height: 30px;
                width: 100px;
                cursor: pointer;
                background-color: white;
                color: rgb(107, 107, 107);
                border: 3px solid black;
                @media (max-width: 426px) {
                    position: relative;
                    top: 0.5vh;
                    height: 20px;
                    font-size: 10px;
                    width: 10vh;
                }
            }

        }
        &__elems {
            padding-top: 30px;
            display: flex;
            gap: 30px;
            @media (max-width: 426px) {
                gap: 10px;
                padding-top: 5px;
                flex-wrap: wrap;
            }
        }
        &__item {
            font-family: Protest Strike;
            font-size: 24px;
            @media (max-width: 426px) {
                font-size: 16px;
            }
        }
        &__title {
            color: rgba(107, 107, 107, 0.356)
        }
        &__filters {
            display: block;
            gap: 10px;
            font-family: Protest Strike;
            label {
                margin-top: 5px;
                @media (max-width: 426px) {
                    font-size: 14px;
                }
                @media (max-width: 376px) {
                    font-size: 12px;
                }
                @media (max-width: 321px) {
                    font-size: 8px;
                }
            }
            input {
                position: relative;
                right: 3px;
            }
        }
        &__row {
            display: flex;
            gap: 10px;
        }
        &__title, &__item2, &__item3 {
            margin-top: 6px;
        }
    }
    &__img {
        max-width: 25vh;
        width: 100%;
        height: 16vh;
        :hover {
            transform: scale(0.9);
        }
        img {
            max-width: 25vh;
            width: 100%;
            height: 16vh;
            @media(max-width: 426px) {
                max-width: 23vh;
                width: 100%;
            }
            @media(max-width: 376px) {
                max-width: 25vh;
                width: 100%;
            }
        }
    }
    &__subtitle {
        font-family: Protest Strike;
        margin-bottom: 2px;
        @media (max-width: 426px) {
            font-size: 12px;
        }
    }
    &__card {
        cursor: pointer;
    }
    &__pagination {
        display: flex;
        margin-left: 58vh;
        margin-top: 3vh;
        gap: 20px;
        font-size: 30px;
        @media (max-width: 426px) {
            margin-left: 18vh;
        }
        @media (max-width: 376px) {
            margin-left: 14vh;
        }
        @media (max-width: 321px) {
            margin-left: 12vh;

        }
        img {
            width: 30px;
            height: 30px;
        }
    }
    &__pag1, &__pag3 {
        cursor: pointer;
    }
    #cards {
        margin-top: 8vh;
        margin-left: 8vh;
        gap: 40px;
        display: flex;
        max-width: 180vh; 
        flex-wrap: wrap; 
        @media (max-width: 426px) {
            margin-left: 1vh;
            padding-top: 1vh;
            gap: 15px;
        }
        @media (max-width: 376px) {
            margin-left: 8vh;
            padding-top: 1vh;
            gap: 20px;
        }
        @media (max-width: 321px) {
            margin-left: 6vh;
            padding-top: 1vh;
            gap: 20px;
        }
    }
}