* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  width: 100%;
  margin: 0 auto;
}

.loader {
  font-size: 30px;
  font-family: Protest Strike;
  text-align: center;
  display: block;
}

.main__container {
  max-width: 130vh;
  width: 100%;
  min-height: 90vh;
  margin: 5vh auto;
  background-color: #e6e6e6;
  border-radius: 30px;
}
.main .header__container {
  margin: 10px 30px 30px 30px;
}
.main .header__search {
  padding-top: 8px;
  float: right;
}
.main .header__search input {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  height: 30px;
  border: 3px solid black;
}
@media (max-width: 426px) {
  .main .header__search input {
    height: 20px;
    font-size: 10px;
    width: 13vh;
  }
}
.main .header__search button {
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin-left: 20px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  background-color: white;
  color: rgb(107, 107, 107);
  border: 3px solid black;
}
@media (max-width: 426px) {
  .main .header__search button {
    position: relative;
    top: 0.5vh;
    height: 20px;
    font-size: 10px;
    width: 10vh;
  }
}
.main .header__elems {
  padding-top: 30px;
  display: flex;
  gap: 30px;
}
@media (max-width: 426px) {
  .main .header__elems {
    gap: 10px;
    padding-top: 5px;
    flex-wrap: wrap;
  }
}
.main .header__item {
  font-family: Protest Strike;
  font-size: 24px;
}
@media (max-width: 426px) {
  .main .header__item {
    font-size: 16px;
  }
}
.main .header__title {
  color: rgba(107, 107, 107, 0.356);
}
.main .header__filters {
  display: block;
  gap: 10px;
  font-family: Protest Strike;
}
.main .header__filters label {
  margin-top: 5px;
}
@media (max-width: 426px) {
  .main .header__filters label {
    font-size: 14px;
  }
}
@media (max-width: 376px) {
  .main .header__filters label {
    font-size: 12px;
  }
}
@media (max-width: 321px) {
  .main .header__filters label {
    font-size: 8px;
  }
}
.main .header__filters input {
  position: relative;
  right: 3px;
}
.main .header__row {
  display: flex;
  gap: 10px;
}
.main .header__title, .main .header__item2, .main .header__item3 {
  margin-top: 6px;
}
.main__img {
  max-width: 25vh;
  width: 100%;
  height: 16vh;
}
@media (max-width: 321px) {
  .main__img {
    max-width: 20vh;
  }
}
.main__img :hover {
  transform: scale(0.95);
}
.main__img img {
  max-width: 25vh;
  width: 100%;
  height: 16vh;
}
@media (max-width: 426px) {
  .main__img img {
    max-width: 23vh;
    width: 100%;
  }
}
@media (max-width: 376px) {
  .main__img img {
    max-width: 25vh;
    width: 100%;
  }
}
.main__subtitle {
  font-family: Protest Strike;
  margin-bottom: 2px;
}
@media (max-width: 426px) {
  .main__subtitle {
    font-size: 12px;
  }
}
@media (max-width: 321px) {
  .main__subtitle {
    font-size: 10px;
  }
}
.main__card {
  cursor: pointer;
}
.main__pagination {
  display: flex;
  margin-left: 58vh;
  margin-top: 3vh;
  gap: 20px;
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 426px) {
  .main__pagination {
    margin-left: 23vh;
  }
}
@media (max-width: 376px) {
  .main__pagination {
    margin-left: 19vh;
  }
}
@media (max-width: 321px) {
  .main__pagination {
    margin-left: 15vh;
  }
}
.main__pagination img {
  width: 30px;
  height: 30px;
}
.main__pag1, .main__pag3 {
  cursor: pointer;
}
.main #cards {
  margin-top: 8vh;
  margin-left: 8vh;
  gap: 40px;
  display: flex;
  max-width: 180vh;
  flex-wrap: wrap;
}
@media (max-width: 426px) {
  .main #cards {
    margin-left: 7vh;
    padding-top: 1vh;
    gap: 25px;
  }
}
@media (max-width: 376px) {
  .main #cards {
    margin-left: 2vh;
    padding-top: 1vh;
    gap: 20px;
  }
}
@media (max-width: 321px) {
  .main #cards {
    margin-left: 3vh;
    padding-top: 1vh;
    gap: 20px;
  }
}
.main .active {
  display: block;
}
.main .notactive {
  display: none;
}