* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header__container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 40vh;
  max-width: 127vh;
  display: flex;
  background-color: #e6e6e6;
  font-family: Protest Strike;
  gap: 30px;
  padding: 3vh;
  border-radius: 30px;
}
@media (max-width: 426px) {
  .header__container {
    margin-left: 0;
  }
}
.header__elem {
  font-size: 24px;
}
.header__elem :hover {
  text-decoration: underline;
}

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.main__card {
  margin: 5vh 15vh;
  cursor: pointer;
}
@media (max-width: 426px) {
  .main__card {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.main__container {
  background-color: #e6e6e6;
  border-radius: 30px;
  margin-left: 30vh;
  animation-name: left;
  animation-duration: 5s;
}
@media (max-width: 426px) {
  .main__container {
    margin-left: 0;
  }
}
.main__title {
  font-family: Protest Strike;
  text-align: center;
  margin-bottom: 1vh;
  font-size: 20px;
}
.main__rows {
  display: flex;
  gap: 10px;
}
@media (max-width: 426px) {
  .main__rows {
    gap: 3px;
  }
}
.main__row {
  display: flex;
  gap: 25px;
}
@media (max-width: 426px) {
  .main__row {
    gap: 9px;
  }
}
.main__text {
  max-width: 40vh;
  max-height: 15vh;
  height: 100%;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 426px) {
  .main__text {
    width: 150px;
    font-size: 11px;
  }
}
.main__img {
  outline: 7px solid grey;
  outline-offset: -6px;
}
.main__img-gor {
  background-color: rgba(0, 0, 0, 0.351);
  max-width: 23vh;
  height: 15vh;
}
@media (max-width: 426px) {
  .main__img-gor {
    width: 80px;
    height: 60px;
  }
}
.main__img-gor img {
  width: 100%;
  height: 100%;
}
.main__img-vert {
  width: 11vh;
  height: 15vh;
}
@media (max-width: 426px) {
  .main__img-vert {
    width: 40px;
    height: 60px;
  }
}
.main__img-vert img {
  width: 100%;
  height: 100%;
}
.main__modal {
  position: fixed;
  z-index: 99;
  width: 30vw;
  margin: 100px 33vw;
  display: flex;
  align-items: center;
}
@media (max-width: 426px) {
  .main__modal {
    margin: 100px 0 100px 0;
    left: 10px;
    max-width: 400px;
    width: 100%;
  }
}
.main__modal-arr {
  cursor: pointer;
}

@media (max-width: 426px) {
  #prev {
    position: absolute;
    left: 10px;
  }
}

@media (max-width: 426px) {
  #next {
    position: absolute;
    right: 10px;
  }
}

.close {
  position: absolute;
  left: 60px;
  top: 10px;
  cursor: pointer;
}