* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.header {
    &__container {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 40vh;
        max-width: 127vh;
        display: flex;
        background-color: #e6e6e6;
        font-family: Protest Strike;
        gap: 30px;
        padding: 3vh;
        border-radius: 30px;
        @media(max-width: 426px) {
            margin-left: 0;
        }
    }
    &__elem {
        font-size: 24px;
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    &__card {
        margin: 5vh 15vh;
        cursor: pointer;
        @media(max-width: 426px) {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    &__container {
        background-color: #e6e6e6;
        border-radius: 30px;
        margin-left: 30vh;
        @media(max-width: 426px) {
            margin-left: 0;
        }
    }
    &__title {
        font-family: Protest Strike;
        text-align: center;
        margin-bottom: 1vh;
        font-size: 20px;
    }
    &__rows {
        display: flex;
        gap: 10px;
        @media(max-width: 426px) {
            gap: 3px;
        }
    }
    &__row {
        display: flex;
        gap: 25px;
        @media(max-width: 426px) {
            gap: 9px;
        }
    }
    &__text {
        max-width: 40vh;
        max-height: 15vh;
        height: 100%;
        width: 100%;
        font-size: 20px;
        text-align: center;
        @media(max-width: 426px) {
            width: 150px;
            font-size: 11px;
        }
    }
    &__img {
        outline: 7px solid grey;
        outline-offset: -6px;
    }
    &__img-gor {
        max-width: 23vh;
        height: 15vh;
        @media(max-width: 426px) {
            width: 80px;
            height: 60px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__img-vert {
        width: 11vh;
        height: 15vh;
        @media(max-width: 426px) {
            width: 40px;
            height: 60px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}
