@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.header__container {
  margin: 10px 20px;
  display: flex;
}
.header__item {
  font-family: Protest Strike;
  display: flex;
}
.header__item :hover {
  text-decoration: underline;
}
@media (max-width: 426px) {
  .header__item {
    font-size: 20px;
  }
}
@media (max-width: 426px) {
  .header__contact {
    display: none;
  }
}
.header__elems {
  display: flex;
  align-items: center;
  font-size: 40px;
  gap: 50px;
}
@media (max-width: 426px) {
  .header__elems {
    gap: 40px;
  }
}

.main__container {
  max-width: 30vw;
  height: 30vw;
  margin: 5vw auto;
  background-color: #7e8896;
  border: 5px dashed #c3d2e8;
  border-radius: 10px;
  animation-name: opacity;
  animation-duration: 2s;
}
@media (max-width: 426px) {
  .main__container {
    max-width: 60vw;
    height: 70vh;
  }
}
.main__form {
  color: white;
  max-width: 20vh;
  margin: 5vw auto;
}
@media (max-width: 426px) {
  .main__form {
    margin: 5vw 10px;
  }
}
.main__form label {
  font-weight: 900;
}
.main__form input, .main__form textarea {
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  height: 30px;
  padding-left: 5px;
  border: 3px solid #a5afd5;
  border-radius: 5px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: 7px 5px 0 black;
}
.main__form textarea {
  padding-top: 5px;
  height: 70px;
}