* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e2c18d;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
.header {
    &__container {
        margin: 30px 130px;
        @media (max-width: 426px) {
            margin: 30px;
        }
    }
    &__title {
        font-size: 40px;
        font-family: Protest Strike;
        width: 400px;
        color: rgba(255, 255, 255, 0.288);
    }
    &__elems {
        display: flex;
    }
}
.main {
    &__container {
        margin: 100px 50px;
        display: block;
        @media (max-width: 426px) {
            margin: 100px 0px;
            display: block;
        }
    }
    &__hover {
        :hover {
            transform: scale(0.9);
        }
    }
    &__item {
        @media (max-width: 426px) {
            width: 400px;
        }
    }
    &__text {
        width: 100%;
        @media (max-width: 426px) {
            font-size: 14px;
            width: 240px;
        }
        p {
            padding: 5px 5px;
            font-size: 18px;
            @media (max-width: 426px) {
                font-size: 14px;
                width: 240px;
            }
        }
    }
    &__boxes {
        display: flex;
        @media (max-width: 426px) {
            display: block;
            width: 420px;
        }
    }
    &__boxes2 {
        margin-top: 100px;
        @media (max-width: 426px) {
            display: block;
            width: 420px;
        }
    }
    &__box {
        position: none;
        max-width: 813px;
        width: 100%;
        height: 571px;
        @media (max-width: 426px) {
            width: 420px;
            margin-top: 97px;
            margin-left: 0;
            display: block;
        }
    }
    &__title {
        font-size:  40px;
        box-shadow: 0, 4px, 4px;
        color: white;
        font-family: Protest Strike;
        width: 400px;
    }
    &__row {
        gap: 12px;
        display: flex;
        max-width: 813px;
        width: 100%;
        @media (max-width: 426px) {
            display: block;
            max-width: 425px;
            width: 100%;
        }
    }
    &__item1 {
        margin-top: 114px;
        display: flex;
        height: 200px;
        border: solid 7px #88E4A2;
        background-color: #A3C2C3;
        img {
            width: 148px;
            height: 100%;
        }
    }
    &__text1 {
        text-align: center;
        font-weight: 700;
        color: white;
        background-color: #A3C2C3;
        
        p {
            @media (max-width: 426px) {
                font-size: 14px;
                max-width: 250px;
                width: 100%;
            }
            width: 360px;
            background-color: #A3C2C3;
        }
    }
    &__text2 {
        background-color: #C2DEA0;
        text-align: center;
        font-weight: 700;
        color: white;
        p {
            @media (max-width: 426px) {
                max-width: 425px;
                width: 100%;
            }
            width: 360px;
            background-color: #C2DEA0;
            padding-right: 5px;
        }
    }
    &__item2 {
        position: relative;
        padding-left: 43px;
        bottom: 9px;
        @media (max-width: 426px) {
            margin-top: 20px;
            padding-left: 0;
        }
    }
    &__box1 {
        position: relative;
        bottom: 30px;
    }
    &__box5 {
        @media (max-width: 426px) {
            position: relative;
            top: 380px;
        }
    }
    &__box6 {
        @media (max-width: 426px) {
            position: relative;
            top: 900px;
        }
    }
    &__box7 {
        @media (max-width: 426px) {
            position: relative;
            top: 100px;
        }
    }
    &__box-2 {
        @media (max-width: 426px) {
            position: relative;
            top: 700px;
        }
    }
    &__row2 {
        gap: 12px;
        margin-top: 12px;
    }
    &__row3 {
        display: flex;
        margin-top: 100px;
        gap: 12px;
        @media (max-width: 426px) {
            display: block;
        }
    }
    &__row4 {
        margin-top: 22px;
    }
    &__item7 {
        height: 200px;
        display: flex; 
        background-color: #C2DEA0;
        border: 7px solid white;
        img {
            width: 148px;
            height: 100%;
        }
    }
    &__item8 {
        padding-left: 33px;
        @media (max-width: 426px) {
            padding-left: 0;
            padding-top: 20px;
        }
    }
    &__title1 {
        position: relative;
        top: 80px;
    }
    &__title2 {
        position: relative;
        bottom: 90px;
        width: 267px;
        @media (max-width: 426px) {
            bottom: 1150px;
        }
        p {
            width: 267px;
        }
    }
    &__box-3 {
        position: relative;
        bottom: 30px;
        margin-left: 120px;
        @media (max-width: 426px) {
            width: 400px;
            position: relative;
            margin-top: 1150px;
            right: 83px;
            margin-left: 102px;
        }
    }
    &__item11 {
        position: relative;
        @media (max-width: 426px) {
            right: 21px;
        }
    }
    &__item12 {
        position: relative;
        @media (max-width: 426px) {
            width: 425px;
            position: relative;
            bottom: 27px;
            right: 18px;
        }
    }
    &__title3 {
        width: 458px;
        float: right;
        position: relative;
        z-index: 1;
        top: 70px;
        @media (max-width: 426px) {
            right: 130px;
            width: 300px;
        }
        p {
            width: 458px;
            @media (max-width: 426px) {
                width: 300px;
            }
        }
    }
    &__item9 {
        background-color: #E0D88E;
        border: 7px solid #D3D3D3;
        position: relative;
        top: 120px;
        right: 22px;
        margin-left: 35px;
        height: 200px;
        display: flex;
        @media (max-width: 426px) {
            margin-left: 0px;
            margin-right: 15px;
        }
        img {
            width: 148px;
            height: 100%;
        }
    }
    &__item10 {
        @media (max-width: 426px) {
            margin-bottom: -860px;
            position: relative;
            top: 35px;
            right: 18px;

        }
    }
    &__text3 {
        background-color: #E0D88E;
        text-align: center;
        font-weight: 700;
        p {
            background-color: #E0D88E;
            color: white;
        }
    }
    &__item11 {
        @media (max-width: 426px) {
            margin-bottom: -812px;
            position: relative;
            top: -40px;
        }
    }
    &__row5 {
        display: flex;
        gap: 12px;
        position: relative;
        bottom: 12px;
        z-index: 0;
        @media (max-width: 426px) {
            display: block;
            margin-top: 700px;
            position: relative;
            top: 500px;
        }
    }
    &__row6 {
        display: flex;
        gap: 12px;
        margin-top: 10px;
        @media (max-width: 426px) {
            display: block;
            margin-top: 1000px;
        }
    }
    &__box-4 {
        margin-top: 97px;
        margin-left: 120px;
        @media (max-width: 426px) {
            margin-left: 0;
            margin-top: 1066px;
        }
    }
    &__row8 {
        margin-top: 25px;
    }
    &__item15 {
        img {
            height: 310px
        }
    }
    &__item16 {
        position: relative;
        right: 22px;
        margin-left: 35px;
        display: flex;
        border: 7px solid #57A262;
        height: 200px;
        background-color: #969696;
        @media (max-width: 426px) {
            max-width: 425px;
            width: 100%;
            margin-left: 23px;
        }
        img {
            width: 148px;
            height: 100%;
            @media (max-width: 426px) {
                max-width: 125px;
                width: 100%;
            }
        }
    }
    &__text4 {
        background-color: #969696;
        text-align: center;
        font-weight: 700;
        p {
            background-color: #969696;
            color: white;
        }
    }
    &__box6 {
        @media (max-width: 426px) {
            position: relative;
            top: 1012px;
        }
    }
    &__box7 {
        @media (max-width: 426px) {
            position: relative;
            top: 325px;
        }
    }
    &__title4 {
        position: relative;
        z-index: 1;
        left: 400px;
        bottom: 95px;
        @media (max-width: 426px) {
            position: relative;
            bottom: 1150px;
            left: 17px;
        }
    }
    &__section1 {
        margin-left: 45px;
        @media (max-width: 426px) {
            margin-left: 0;
        }
    }
    &__section2 {
        @media (max-width: 426px) {
            margin-left: 0;
        }
    }

}