* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header__search {
  max-width: 500px;
}

.main__container {
  border-radius: 30px;
  margin: 100px auto;
  background-color: #e6e6e6;
  width: 90vh;
  min-height: 110vh;
  text-align: center;
}
@media (max-width: 426px) {
  .main__container {
    width: 49vh;
    margin: 0;
  }
}
@media (max-width: 376px) {
  .main__container {
    width: 43vh;
    margin: 0;
  }
}
@media (max-width: 321px) {
  .main__container {
    width: 36.8vh;
    margin: 0;
  }
}
.main__elems {
  display: flex;
}
.main__attrs {
  font-family: Protest Strike;
  margin-left: 2vh;
  margin-top: 3px;
}
.main__attrs img {
  width: 40px;
  height: 40px;
}
.main__title {
  font-family: Protest Strike;
  font-size: 30px;
  color: black;
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.219);
  margin-left: 20vh;
}
@media (max-width: 426px) {
  .main__title {
    font-size: 24px;
    margin-left: 2vh;
    margin-top: 1vh;
  }
}
@media (max-width: 376px) {
  .main__title {
    font-size: 24px;
  }
}
.main__img img {
  outline: 7px solid grey;
  outline-offset: -6px;
}
.main__img-g img {
  width: 35vh;
  height: 20vh;
}
@media (max-width: 426px) {
  .main__img-g img {
    width: 30vh;
    height: 17vh;
  }
}
@media (max-width: 376px) {
  .main__img-g img {
    width: 25vh;
  }
}
@media (max-width: 321px) {
  .main__img-g img {
    width: 22vh;
    height: 14vh;
  }
}
.main__img-v img {
  width: 15vh;
  height: 20vh;
}
@media (max-width: 426px) {
  .main__img-v img {
    width: 14vh;
    height: 17vh;
  }
}
@media (max-width: 376px) {
  .main__img-v img {
    width: 12vh;
  }
}
@media (max-width: 376px) {
  .main__img-v img {
    width: 10vh;
    height: 14vh;
  }
}
.main__row {
  position: relative;
  display: flex;
  gap: 60px;
  margin-left: 13vh;
}
@media (max-width: 426px) {
  .main__row {
    margin-left: 1vh;
    gap: 25px;
  }
}
@media (max-width: 376px) {
  .main__row {
    margin-left: 1vh;
    gap: 30px;
  }
}
@media (max-width: 321px) {
  .main__row {
    margin-left: 1.1vh;
    gap: 25px;
  }
}
.main__row1 {
  margin-top: 2vh;
}
.main__row2 {
  margin-top: 2vh;
}
.main__text {
  margin-top: 20px;
  text-align: center;
  max-width: 600px;
  margin-left: 10vh;
  font-size: 24px;
}
@media (max-width: 426px) {
  .main__text {
    width: 380px;
    margin-left: 2vh;
    font-size: 20px;
  }
}
@media (max-width: 376px) {
  .main__text {
    width: 340px;
    margin-left: 1.5vh;
    font-size: 20px;
  }
}
@media (max-width: 321px) {
  .main__text {
    width: 285px;
    margin-left: 1.5vh;
    font-size: 18px;
  }
}
.main__text p {
  width: 100%;
}
.main__map {
  margin-top: 5vh;
}
.main__map iframe {
  width: 90vh;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 420px;
}
@media (max-width: 426px) {
  .main__map iframe {
    width: 422px;
  }
}
@media (max-width: 376px) {
  .main__map iframe {
    width: 375px;
  }
}
@media (max-width: 321px) {
  .main__map iframe {
    width: 315px;
  }
}