* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.header {
    &__search {
        max-width: 500px;
    }
}

.main {
    &__container {
        border-radius: 30px;
        margin: 100px auto;
        background-color: #e6e6e6;
        width: 90vh;
        min-height: 110vh;
        text-align: center;
        @media (max-width: 426px) {
            width: 49vh;
            margin: 0;
        }
        @media (max-width: 376px) {
            width: 43vh;
            margin: 0;
        }
        @media (max-width: 321px) {
            width: 36.8vh;
            margin: 0;
        }
    }
    &__elems {
        display: flex;
    }
    &__attrs {
        font-family: Protest Strike;
        margin-left: 2vh;
        margin-top: 3px;
        img {
            width: 40px;
            height: 40px;
        }
    }
    &__title {
        font-family: Protest Strike;
        font-size: 30px;
        color: black;
        text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.219);
        margin-left: 20vh;
        @media (max-width: 426px) {
            font-size: 24px;
            margin-left: 2vh;
            margin-top: 1vh;
        }
        @media (max-width: 376px) {
            font-size: 24px;
        }
    }
    &__img {
        img {
            outline: 7px solid grey;
            outline-offset: -6px;
        }
    }
    &__img-g {
        img {
            width: 35vh;
            height: 20vh;
            @media (max-width: 426px) {
                width: 30vh;
                height: 17vh;
            }
            @media (max-width: 376px) {
                width: 25vh;
            }
            @media (max-width: 321px) {
                width: 22vh;
                height: 14vh;
            }
        }
    }
    &__img-v {
        img {
            width: 15vh;
            height: 20vh;
            @media (max-width: 426px) {
                width: 14vh;
                height: 17vh;
            }
            @media (max-width: 376px) {
                width: 12vh;
                height: 17vh;
            }
            @media (max-width: 321px) {
                width: 10vh;
                height: 14vh;
            }
        }
    }
    &__row {
        position: relative;
        display: flex;
        gap: 60px;
        margin-left: 13vh;
        @media(max-width: 426px) {
            margin-left: 1vh;
            gap: 25px;
        }
        @media (max-width: 376px) {
            margin-left: 1vh;
            gap: 30px;
        }
        @media (max-width: 321px) {
            margin-left: 1.1vh;
            gap: 15px;
        }
    }
    &__row1 {
        margin-top: 2vh;
    }
    &__row2 {
        margin-top: 2vh;
        @media (max-width: 321px) {
            margin-top: 1vh;
        }
    }
    &__text {
        margin-top: 20px;
        text-align: center;
        max-width: 600px;
        margin-left: 10vh;
        font-size: 24px;
        @media (max-width: 426px) {
            width: 380px;
            margin-left: 2vh;
            font-size: 20px;
        }
        @media (max-width: 376px) {
            width: 340px;
            margin-left: 1.5vh;
            font-size: 20px;
        }
        @media (max-width: 321px) {
            width: 285px;
            margin-left: 1.5vh;
            font-size: 18px;
        }
        p {
            width: 100%;
        }
    }
    &__map {
        margin-top: 5vh;
        iframe {
            width: 90vh;
            border-radius: 30px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            height: 420px;
            @media (max-width: 426px) {
                width: 422px;
            }
            @media (max-width: 376px) {
                width: 375px;
            }
            @media (max-width: 321px) {
                width: 315px;
            }
        }
    }
}
