@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
body {
    background-image: url('../warsaw_img/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    @media (max-width: 426px) {
        background-color: #d4d4d4;
        background-image: none;
    }
}
.main {
    margin: 0;
    max-width: 210vh;
    width: 100%;
    height: 100vh;
    @media (max-width: 426px) {
        width: 425px;
        width: 100%;
    }
    &__container {
        padding-top: 180px;
        display: flex;
        @media (max-width: 426px) {
            display: block;
        }
    }
    &__block {
        margin-left: 80px;
        display: block;
        max-width: 70vh;
        color: white;
        @media (max-width: 426px) {
            margin-left: 10px;
        }
    }
    &__title {
        text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.437);
        font-weight: 900;
        font-family: Protest Strike;
        font-size: 50px;
    }
    &__text {
        text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.437);
        font-size: 20px;
        font-weight: 700;
    }
    &__btn {
        text-align: center;
        padding: 5px 7px;
        font-size: 20px;
        margin-top: 30px;
        background-color: burlywood;
        max-width: 15vh;
        border-radius: 5px;
        font-family: Protest Strike;
        :hover {
            text-decoration: underline;
        }
    }
    &__slider {
        margin-left: 45vh;
        margin-top: 24vh;
        overflow: hidden;
        @media (max-width: 426px) {
            margin-left: 10px;
            margin-top: 30px;
        }
    }
    &__line {
        transition: all 1s;
        position: relative;
        display: flex;
        gap: 50px;
    }
    &__img {
        animation-name: opacity;
        animation-duration: 2s;
        width: 36vh;
        height: 50vh;
        img {
            width: 40vh;
            height: 56vh;
            border-radius: 15px;
        }
    }    .header {
        position: absolute;
        &__container {
            a {
                color: white;
            }
            margin: 20px 30px;
            display: flex;
            @media(max-width: 426px) {
                width: 300px;
            }
        }
        &__attrs {
            cursor: pointer;
            display: flex;
            gap: 35px;
        }
        &__item {
            @media (max-width: 426px) {
                display: none;
            }
        }
        &__item-4 {
            color: rgba(255, 255, 255, 0.288);
            text-shadow: none;
        }
        &__item {
            font-family: Protest Strike;
            font-size: 30px;
            :hover {
                text-decoration: underline;
            }
        }
        &__item-2 {
            width: 250px;
        }
        &__elems {
            color: white;
            display: flex;
            align-items: center;
            font-size: 30px;
            gap: 35px;
            text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.219);
            margin-left: 30px;
        }
        &__burger-contact {
            @media (max-width: 426px) {
                padding-top: 20px;
            }
        } 
        &__burger {
            display: none;
            background-color: rgba(128, 128, 128, 0.719);
            border-radius: 30px;
            color: white;
            font-family: Protest Strike;
            position: absolute;
            z-index: 12388750;
            top: 30px;
            right: 150px;
        }
        &__burger-cont {
            text-align: center;
            align-items: center;
            font-size: 20px;
            width: 200px;
            min-height: 250px;
        }
        &__burger-item {
            padding-top: 10px;
        }
        &__burger-form {
            input {
                padding: 5px 10px;
                border: none;
                border-radius: 30px;
                outline: 0;
                width: 150px;
            }
        }
        &__burger-close {
            margin-top: 10px;
            margin-right: 10px;
            float: right;
            img {
                width: 25px;
                height: 25px;
            }
        }
        &__burgerbtn {
            display: none;
            @media (max-width: 426px) {
                display: block;
            }
            img {
                position: relative;
                right: 50px;
                bottom: 10px;
                width: 30px;
                height: 30px;
            }
        }
        &__burger-contact {
            margin-bottom: 10px;
        }
    }
}
.info{
    &__container {
        margin: 10vh 15vh;
        gap: 30px;
        border: 5px solid rgb(184, 184, 206);
        border-radius: 10px;
        background-color: #e8e8d8;
        @media (max-width: 426px) {
            margin-left: 5px;
            width: 424px;
        }
        iframe {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            @media (max-width: 426px) {
                width: 413px;
                height: 413px;
            }
        }
    }
    &__row {
        display: flex;
        @media (max-width: 426px) {
            display: block;
        }
    }
    &__text {
        padding: 30px 50px;
        font-size: 18px;
        text-align: center;
        p {
            padding-bottom: 10px;
        }
    }
    &__btn {
        font-weight: 700;
        text-align: center;
        padding: 5px 7px;
        font-size: 18px;
        margin-top: 30px;
        background-color: grey;
        max-width: 30vh;
        border-radius: 5px;
        font-family: Protest Strike;
        :hover {
            text-decoration: underline;
        }
    }
}
.footer {
    &__container {
        display: flex;
        background-color: rgba(255, 255, 255, 0.768);
        border-bottom: none;
        @media (max-width: 426px) {
            display: block;
            text-align: center;
        }
    }
    &__block {
        display: block;
        margin-left: 3vw;
        padding-top: 5px;
    }
    &__item {
        padding-bottom: 5px;
        cursor: pointer;
        color: black;
        a {
            color: black;
        }
        :hover {
            text-decoration: underline;
        }
    }

}